.index {
background-image: url("/images/index.jpg");
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
}

h1 {
  color: navy;
  margin-left: 20px;
}