:root {
  --yellow: rgb(255, 203, 5);
  --blue: rgb(42, 117, 187, 0.7);
}

html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  color: rgb(255, 203, 5);
  font-family: 'Pokemon Solid', sans-serif;
  text-transform: uppercase;
}

.background-image {
background-image: url("/images/index.jpg");
/*background-image: url("../images/index.jpg"); */
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
}

.welcometext {

  text-align: center;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 6px;
  opacity: 0;
  animation: ani1 2s ease-out forwards;
}

.welcomebox {
  max-width: 800px;
}


.welcomeboxcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--yellow);
  border-radius: 0.6em;
  border: 2px solid var(--yellow);
  font-size: 20px;
  transition: all 150ms ease-out;
  height: 70px;
  text-align:center;
  width: 170px;
  line-height: normal;
}

a.button:hover {
  background-color: var(--blue);
  box-shadow: 0 0 3px 3px var(--yellow);
}

.register-container {
  width:450px;
  height: 100%;
  display: flex;
  margin: auto;

}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 0.6em;
  border: 3px solid var(--yellow);
  width: 100%;
  opacity: 0;
  animation: ani1 2s ease-out forwards;
  padding: 20px;
}

.box h1 {
  font-size: 25px;
  letter-spacing: 6px;
  margin: 10px;

}
.box label {
  font-size: 15px;
  letter-spacing: 5px;

}

.input-box {
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid var(--yellow);
  border-radius: 20px;
  background-color: var(--blue);
}

input[type=submit]  {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--yellow);
  border-radius: 0.6em;
  border: 2px solid var(--yellow);
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 150ms ease-out;
  height: 70px;
  display: inline-flex;
  align-items:flex-end;
  background-color: var(--blue);
}

input[type=submit]:hover {
  background-color: var(--blue);
  box-shadow: 0 0 3px 3px var(--yellow);
  cursor: pointer;
}

@keyframes ani1 {
  100%{
    opacity: 1;
  }
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;

}

.tab.active {
    background-color: var(--blue);
}

.tab:hover {
    background-color: var(--blue);
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

ul a {
    color: inherit;
    text-decoration: none;
}

.error{
	margin: 10px;
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 15px center;
 	max-width: 460px;
 	color: red;
    background-color: #f7cec8;
    background-image: url("/images/error.png");
    font-family: Helvetica, Arial, sans-serif;
    text-transform: none;
    border-radius: 20px;
    border:1px solid red;

}