<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="background-image">
<head>
    <section th:insert="~{template :: head}"></section>
    <title>Pokémon</title>
</head>
<body>
<setion class="welcomeboxcontainer">
    <div class="welcomebox box">
        <h1 class="welcometext">Hi!<br>Welcome to the world of Pokémon<br>
            <a href="/login" class="button">log in</a>
            <a href="/register" class="button">register</a>
        </h1>
    </div>
</setion>
</body>
</html>