<!DOCTYPE html>
<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="background-image">
<link th:href="@{/css/style.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Pokémon</title>
</head>
<body>
<setion class="welcomeboxcontainer">
    <div class="welcomebox">
        <h1 class="welcometext">Hi!<br>Welcome to the world of Pokémon<br>
            <a href="/login" class="button">Click here to login</a>
            <a href="/register" class="button">Click here to register</a></h1>
    </div>
</setion>
</body>
</html>