<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:insert="~{template :: head}"></section>
    <title>Pokémon</title>

</head>
<body>
<section th:insert="~{template :: menu}"></section>
<div class="tab-content">
    <div id="my-cards">
        <h1>My cards</h1>
        <p>This is My cards</p>
    </div>
</div>
<div class="cards">
<div th:each="ownedcard:${boughtCards}">
    <div th:text="${ownedcard.card.name}"></div>
    <img th:src="${ownedcard.card.url}">
</div>
</div>
</body>
</html>