<!DOCTYPE html>
<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="background-image">
<link th:href="@{/css/style.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="register-container">
    <form action="/register" method="post" class="box">
        <h1>Register</h1>
        <label>E-mail:</label>
        <input type="email" name="email" class="input-box">

        <label>Password:</label>
        <input type="password" name="password" class="input-box">

        <label>Password repeat:</label>
        <input type="password" name="passwordRepeat" class="input-box">

        <input type="submit" value="Register">

    </form>
</div>
<div th:text="${message}"></div>
</body>
</html>