<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:insert="~{template :: head}"></section>
    <title>Pokémon - shop</title>
</head>
<body>
<section th:insert="~{template :: menu}"></section>
    <div class="tab-content">
        <div id="shop">
            <h1>Shop</h1>
            <p>This is shop</p>
        </div>
    </div>
<form action="/shop" method="post">
<button type="submit" th:disabled="${disabled}">Buy cards</button>
    <div th:if="${message}" th:text="${message}" class="error"></div>
</form>
<div class="cards">
<div th:each="card:${pokemonCards}">
    <div th:text="${card.name}"></div>
    <img th:src="${card.url}">
</div>
</div>
</body>
</html>